.mainSection {
    width: 50%;
    background-color: #fff;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    box-shadow: 0 0 6px hsl(210 14% 90%);
    padding: 5px 25px;
}